@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&display=swap');

:root {
  --bg-colour: #101d2e;
  --bg-colour-html: #4e7dbb;
  --content-colour: #192d49;
  --bg-button: #007af4;
  --bg-button-hover: #3964a4;
  --font-colour-main: #e2f0ff;
  --alt-accent: #007af4;
  --stats: #0d213a;
  --toggle: #fff67e;
  --toggle-btn: #0d213a;
  --m-left: 0;
}

[data-theme='dark'] {
  --bg-colour: #c2dcff;
  --content-colour: #86b2ee;
  --bg-button: #4a92ff;
  --bg-button-hover: #2883de;
  --font-colour-main: #1c252f;
  --alt-accent: #0060c1;
  --stats: #619adf;
  --toggle: #00478e;
  --toggle-btn: #86b2ee;
  --m-left: auto;
}

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--font-colour-main);
}

body {
  background-color: var(--bg-colour);
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5em;
}

main {
  margin: auto;
  font-family: 'Roboto Mono', monospace;
}

textarea:focus,
input:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--alt-accent);
}

.navbar {
  width: 100%;
  margin: auto;
  font-size: clamp(0.75rem, 5vw, 2.5rem);
  font-weight: 600;
  background: transparent;
  padding-bottom: 3%;
}
.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  cursor: pointer;
}

.brand:hover {
  color: var(--font-colour-p);
}

.light-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 5.75rem;
  padding: 0.26rem;
  background-color: var(--toggle);
  border-radius: 50px;
}

.circle {
  height: 2.27rem;
  width: 2.27rem;
  background-color: var(--toggle-btn);
  border-radius: 100%;
  margin-left: var(--m-left);
}

.fa {
  padding-left: 0.4rem;
  font-size: 1.75rem;
  font-size: clamp(1rem, 4vw, 2rem);
}

.search-main {
  display: flex;
  align-items: center;
  background-color: var(--content-colour);
  padding: 0.55rem;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 5%;
}

.search-icon {
  font-size: clamp(1rem, 5vw, 3rem);
}

#search-input {
  font-size: clamp(0.9rem, 2.5vw, 2.25rem);
  width: 100%;
  margin: 0 4%;
  background: transparent;
  border: none;
}

.search-main ::placeholder {
  color: var(--font-colour-main);
}

#search-button {
  font-size: clamp(0.5rem, 4vw, 1.75rem);
  padding: 1.5% 3%;
  background-color: var(--bg-button);
  border: none;
  cursor: pointer;
}

#search-button:hover {
  background-color: var(--bg-button-hover);
}

.content-main {
  padding: 5%;
  background-color: var(--content-colour);
}

.profile-section {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 2.75%;
}

.top {
  padding-left: 5%;
}

.profile-img img {
  height: 13vw;
  min-height: 7rem;
  width: 13vw;
  min-width: 7rem;
  background-size: contain;
  border-radius: 100%;
}

.title h1 {
  font-size: clamp(1rem, 5vw, 2.5rem);
}

.title h2 {
  font-size: clamp(1rem, 3vw, 1.5rem);
  color: var(--alt-accent);
}

.date p {
  font-size: clamp(0.75rem, 3vw, 1.15rem);
  margin-top: 0.55em;
}

.bio {
  text-align: center;
}

.bio h2 {
  font-size: clamp(1.25rem, 3vw, 1.5rem);
}

.bio p,
.responsive-h2 {
  font-size: clamp(0.75rem, 3vw, 1.15rem);
  margin-top: 1.25%;
}

.footer-p {
  font-size: clamp(0.5rem, 2vw, 1.1rem);
  display: flex;
  align-items: center;
}

.footer-p i {
  width: 30px;
  display: flex;
  justify-content: center;
}

.stats {
  background-color: var(--stats);
  margin-top: 4%;
}

.stats-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2vw 4vw;
  color: white;
  margin-bottom: 4%;
}

.responsive-h2 {
  font-weight: 400;
}

.responsive-p {
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: 600;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.workplace,
.twitter {
  margin-top: 8%;
}

/* Media Queries */
@media (min-width: 640px) {
  .bio {
    text-align: left;
  }
  .top {
    display: flex;
    justify-content: space-between;
    width: 75%;
  }
  #search-input {
    padding: 0.5rem 1rem;
  }
  main {
    width: min(900px, 85%);
  }
}

@media (max-width: 640px) {
  .wrapper {
    padding: 2em;
    margin-top: 2em;
  }
  .stats-content {
    margin: 1.5em 0;
  }
  textarea:focus,
  input:focus {
    box-shadow: 0 0 0 2px var(--alt-accent);
  }
  .light-toggle {
    width: 3rem;
    padding: 0.22rem;
  }
  .circle {
    height: 1.12rem;
    width: 1.12rem;
  }
  .date p {
    margin-top: 0;
  }
}
