@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&display=swap');

:root {
  --bg-colour: rgb(15, 28, 52);
  --content-colour: rgb(31 42 72);
  --bg-button: rgb(1 121 254);
  --bg-button-hover: rgb(43, 131, 231);
  --font-colour-main: rgb(241, 245, 255);
  --font-colour-p: rgb(199, 216, 255);
  --accent: rgb(184 192 204);
  --alt-accent: rgb(112, 169, 255);
  --stats: rgb(19 28 47);
}

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--font-colour-main);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-colour);
}

main {
  margin: auto;
  width: min(900px, 85%);
  font-family: 'Roboto Mono', monospace;
  /* height: 600px; */
}

textarea:focus,
input:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--alt-accent);
}

.navbar {
  width: 100%;
  margin: auto;
  font-size: clamp(0.75rem, 5vw, 2.5rem);
  font-weight: 600;
  background: transparent;
  padding-bottom: 2%;
}
.nav-flex {
  display: flex;
  justify-content: space-between;
}

.brand {
  cursor: pointer;
}

.brand:hover {
  color: var(--font-colour-p);
}

.light-toggle {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: clamp(0.5rem, 3vw, 1.5rem);
  cursor: pointer;
  letter-spacing: 2px;
}

.fa {
  padding-left: 0.4rem;
  font-size: 1.75rem;
  font-size: clamp(1rem, 4vw, 2rem);
}

.search-main {
  display: flex;
  align-items: center;
  background-color: var(--content-colour);
  padding: 0.5rem;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 5%;
}

.search-icon {
  font-size: clamp(1rem, 5vw, 3rem);
}

#search-input {
  font-size: clamp(0.45rem, 4vw, 2.25rem);
  width: 100%;
  margin: 0 4%;
  background: transparent;
  border: none;
}

.search-main ::placeholder {
  color: var(--font-colour-main);
}

#search-button {
  font-size: clamp(0.5rem, 4vw, 1.75rem);
  padding: 1.5% 3%;
  background-color: var(--bg-button);
  border: none;
  cursor: pointer;
}

#search-button:hover {
  background-color: var(--bg-button-hover);
}

.content-main {
  padding: 5%;
  background-color: var(--content-colour);
}

.profile-section {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 2.75%;
}

.top {
  padding-left: 5%;
}

.profile-img {
  background: url('https://avatars.githubusercontent.com/u/28767304?v=4');
  height: 13vw;
  min-height: 7rem;
  width: 13vw;
  min-width: 7rem;
  background-size: contain;
  background-position: center;
  border-radius: 100%;
}

.title h1 {
  font-size: clamp(1rem, 5vw, 2.5rem);
}

.title h2 {
  font-size: clamp(1rem, 3vw, 1.5rem);
  color: var(--alt-accent);
}

.date p {
  font-size: clamp(0.75rem, 3vw, 1.15rem);
}

.bio {
  text-align: center;
}

.bio h2 {
  font-size: clamp(1.25rem, 3vw, 1.5rem);
}

.bio p,
.responsive-h2 {
  font-size: clamp(0.75rem, 3vw, 1.15rem);
  margin-top: 1.25%;
}

.footer-p {
  font-size: clamp(0.6rem, 3vw, 1rem);
  display: flex;
  align-items: center;
}

.footer-p i {
  width: 30px;
  display: flex;
  justify-content: center;
}

.stats {
  background-color: var(--stats);
  margin-top: 4%;
}

.stats-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2vw 4vw;
  color: white;
  margin-bottom: 4%;
}

.responsive-h2 {
  font-weight: 400;
}

.responsive-p {
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: 600;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.workplace,
.twitter {
  margin-top: 8%;
}

/* Media Queries */
@media (min-width: 640px) {
  .bio {
    text-align: left;
  }
  .top {
    display: flex;
    justify-content: space-between;
    width: 75%;
  }
  #search-input {
    padding: 0.5rem 1rem;
  }
  body {
    height: clamp(60vh, 100vh, 120vh);
  }
}

@media (min-width: 1000px) {
  body {
    height: 120vh;
  }
}
